<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no'>
    <meta property="og:image" content="/images/favicon.png">

    {% seo title=false %}

    <script async src='https://www.googletagmanager.com/gtag/js?id=UA-106151067-1'></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-106151067-1');
    </script>

    <link href='https://fonts.googleapis.com/css?family=Barlow' rel='stylesheet'>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>

    <link href='/css/style.css' rel='stylesheet'>
    <link href='/images/favicon.png' rel='icon' type='images/png'>
    <title>{{page.title}}</title>
</head>
<body>
