<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no'>
    <meta property="og:image" content="/images/favicon.png">

    {% seo title=false %}

    <link href='/assets/img/favicon.png' rel='icon' type='images/png'>
    <link rel="stylesheet" href="/assets/icons/ico.css">
    <title>{{page.title}}</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
