<header>
    <h1>Mariusz Zarzycki</h1>

    <nav>
        <a href="https://blog.vallode.com/">Blog</a>
        <a href="mailto:vallode@protonmail.com">Contact Me</a>
    </nav>

    <ul id="mobile_nav">
        <li><a href="https://blog.vallode.com/">Blog</a></li>
        <li><a href="mailto:vallode@protonmail.com">Contact Me</a></li>
    </ul>

    <div class="nav-mobile">
        <div id="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
</header>