@mixin for-mobile {
    @media (max-width: 600px){
        @content;
    }
}

@mixin tablet-up {
    @media (min-width: 601px){
        @content;
    }
}

@mixin desktop-up {
    @media (min-width: 1200px){
        @content;
    }
}

@mixin padding {
    @include desktop-up {
        padding-right: 10vw;
        padding-left: 10vw;
    }

    @include tablet-up {
        padding-right: 6vw;
        padding-left: 6vw;
    }

    @include for-mobile {
        padding-right: 2vw;
        padding-left: 2vw;
    }
}

@mixin box-shadow {
    box-shadow: 0 -14px 28px transparentize(darken($white, 8%), 0.2), 0 14px 28px transparentize(darken($white, 8%), 0.2);
}

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-font-size, $max-font-size, $min-vw, $max-vw) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
            font-size: $min-font-size;
            @media screen and (min-width: $min-vw) {
                font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            }
            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}