$black: #1e1e1e;
$black_light: #4b4b4b;

$white: #f0f0f0;
$white_light: #ffffff;

$blue_dark: #326085;
$blue: #4E91D2;
$blue_light: #4585b8;

$min-font: 14px;
$max-font: 18px;
$min-screen: 320px;
$max-screen: 1280px;