footer {
    display: flex;
    align-items: center;

    background: $blue_light;
    color: $white;

    @include box-shadow;
    @include padding;

    padding-top: 1em;
    padding-bottom: 1em;

    .col {
        flex: 1;
    }

    .social {
        font-size: 2em;
        text-align: right;

        .icon {
            text-decoration: none;
            margin: 0 5px;
        }
    }

    p {
        margin: 0;
    }
}

.stripe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    text-align: center;

    background: $blue_light;

    @include padding;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    p {
        color: $white;
        font-size: 1.1em;
        margin: 0;
    }
}