footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    background: $blue_light;
    color: $white;

    @include box-shadow;
    padding: 1vh 0;

    p {
        font-size: 1.1em;
        margin: 0;
    }
}

.stripe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    text-align: center;

    background: $blue_light;

    @include padding;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    p {
        color: $white;
        font-size: 1.1em;
        margin: 0;
    }
}