header {
    display: flex;
    align-items: center;
    position: relative;

    height: 8vh;
    width: 100%;

    @include padding;

    h1 {
        font-family: 'Poppins', sans-serif;
        color: $blue;
    }

    nav {
        text-align: right;

        flex: 1;
    }

    .nav-mobile {
        display: none;

        .line {
            width: 24px;
            height: 4px;
            border-radius: 4px;
            background: $blue;

            margin: 4px 0.5em;
            transition: all 0.125s ease;
        }

        .active {
            .line:first-child {
                transform: rotate(-45deg) translate(0, 5px);
            }

            .line:nth-of-type(2) {
                display: none;
            }

            .line {
                transform: rotate(45deg) translate(0, -6px);
            }
        }
    }

    #mobile_nav {
        display: none;
        justify-content: center;
        position: absolute;

        top: -100%;
        left: 0;
        z-index: 1;

        width: 100%;

        background: $blue;
        color: $white;

        transition: all 0.125s ease;

        li  {
            margin: 0.5em 0;
            a {
                font-size: 1.5em;
                text-decoration: none;
            }
        }


        &.active {
            top: 100%;
        }
    }

    @include for-mobile {
        background: $white_light;
        position: fixed;
        z-index: 1000;

        h1 {
            text-align: left;
            flex: 1;
        }

        .nav {
            display: none;
        }

        .nav-mobile,
        #mobile_nav {
            display: flex;
        }
    }
}