@charset "UTF-8";

/* Fluid */

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-font-size, $max-font-size, $min-vw, $max-vw) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
            font-size: $min-font-size;
            @media screen and (min-width: $min-vw) {
                font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            }
            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}

/* Basics */

html,
body {
    margin: 0;
    padding: 0;

    height: 100%;
}

body {
    display: flex;

    font-family: Barlow, sans-serif;
    @include fluid-type($min-font, $max-font, $min-screen, $max-screen);

    background-color: $white;
    color: $black;

    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* Typography */

h1 {
    margin: 0.5rem;
    font-size: 3.998em;
    font-weight: inherit;
    line-height: 1;

    color: $blue;
}

p {
    margin-bottom: 1.3em;
}

a {
    text-decoration: none;
}

b {
    color: $blue;
}

/* Layout */

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 100%;
    width: 100%;

    overflow: hidden;
}

.subtitle {
    position: relative;

    margin: 0.5rem;

    transform: translateY(100vh);
    will-change: transform;
    animation: subtitle-flow 2s 1.75s ease-in-out forwards;
}

.social {
    position: relative;
    display: flex;
    flex-flow: wrap;

    border-radius: 2px;
    background-color: $blue;
    margin: 0.5rem;

    a {
        font-size: 1.999em;
        padding: 0.5rem 1em;
        color: $white;
        transition: all 0.25s ease;
        flex: 1;

        &:hover {
            background-color: $white;
            color: $blue;
        }
    }
}

/* Keyframes */

@keyframes icons-flow-left {
    from {
        transform: translateX(125vw);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes subtitle-flow {
    from {
        transform: translateY(100vh);
    }

    to {
        transform: translateY(0);
    }
}