$background: #f0f0f0;
$foreground: #383838;
$highlight: #4e91d2;
$spacer: 0.5rem;

* {
    box-sizing: border-box;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

body {
    background-color: $background;
    color: $foreground;

    font-family: 'Barlow', sans-serif;
    font-size: 18px;

    .wrapper {
        position: relative;
        width: 50%;
        height: 100%;
        min-height: 100%;

        margin: 0 auto;
        text-align: center;

        @media screen and (max-width: 1200px) {
            width: 65%;
        }

        @media screen and (max-width: 850px) {
            width: 100%;
        }
    }
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3;
    color: $highlight;
    letter-spacing: 0.125rem;
    margin: 0;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h1 + p,
h2 + p,
h3 + p {
    font-weight: bold;
    padding-top: 0;
    margin-top: 0;
}

p {
    font-size: 1.2em;
    padding: 0 0 20px 0;
    margin: 0;
}

a {
    color: $highlight;
    font-weight: 500;
    text-decoration: none;

    transition: color 0.25s ease;

    &:hover {
        color: darken($highlight, 20%);
    }
}

hr {
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background-color: $highlight;
}

/* Landing */

.content {
    min-height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 1vh 0 1vh;

    .profile {
        position: relative;
        height: 256px;
        width: 256px;

        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0 auto;

        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            display: block;
            height: 100%;
            width: 100%;
            background-color: $highlight;
            border-radius: 100%;
        }

        img {
            height: 90%;
            width: 90%;
            border-radius: 100%;
            transition: all 0.5s ease;
        }

        @media screen and (max-width: 650px) {
            display: none;
        }
    }
}

.social {
    width: 250px;
    display: flex;
    justify-content: space-around;

    margin: 0 auto;
    padding: 0 0 20px 0;

    a {
        width: 40px;
        height: 40px;
    }

    a:nth-child(1) img,
    a:nth-child(2) img {
        border-radius: 100%;
    }

    a:nth-child(3) img {
        border-radius: 2px;
    }
}

.skills {
    width: 100%;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    div {
        flex: 1;
        padding: 10px;
        min-width: 220px;
    }

    p {
        font-weight: normal;
    }

    img {
        opacity: 0.7;
    }
}

/* Icons */

.icon {
    transition: all 0.25s ease;
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }
}

.large {
    width: 128px;
    height: 128px;
}

.small {
    width: 40px;
    height: 40px;
}