$background: #f0f0f0;
$foreground: #282828;
$highlight: #4e91d2;
$spacer: 0.5rem;

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

body {
    background-color: $background;
    color: $foreground;

    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    color: $highlight;
    letter-spacing: 0.125rem;
    margin: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h1 + p,
h2 + p,
h3 + p {
    padding-top: 0;
    margin-top: 0;
}

a {
    color: $highlight;
    font-weight: 500;
    text-decoration: none;

    transition: color 0.25s ease;

    &:hover {
        color: darken($highlight, 20%);
    }
}

.highlighter-rouge {
    color: $foreground;
    background-color: #d0d0d0;
    padding: 0.1rem 0.5rem;
    margin: 0 0.1rem;
    font-size: 90%;
    border: 1px solid #9f9f9f;
    border-radius: 2px;

    .highlight {
        &:hover {
            color: $foreground;
            background-color: #d0d0d0;
        }
    }
}

[class*='language'] {
    margin-bottom: 20px;
}

/* Wrapper */

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    max-width: 50vw;
    width: 50vw;
    margin: auto;
    flex: 1;
    text-align: left;
}

/* Header */

header {
    position: relative;
    justify-content: center;
    flex-basis: 100px;
    max-height: 100px;
    padding: 1vh 0 1vh 0;

    .title {
        float: left;
        display: flex;
        padding-left: 10px;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        a {
            color: $foreground;
        }

        p {
            margin: 0;
        }
    }
}

.social {
    float: left;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    width: 100px;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding: 0 10px 0 10px;

    a {
        width: 32px;
        height: 32px;
    }

    @media screen and (max-width: 920px){
        display: none;
    }
}

/* Nav */

.navigation{
    letter-spacing: 0.075rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    float: right;
    height: 100%;
    list-style: none;

    margin: 0;
    padding: 0;

    li {
        margin: 0 15px 0 15px;
        line-height: 1.3;
    }

    a {
        color: $foreground;
        font-size: 1.6em;

        padding: 0 10px 0 10px;
    }
}

.highlight {
    color: $background;
    transition: all 0.25s ease;

    &:hover {
        color: $highlight;
    }
}

#Projects li:nth-child(1) a,
#Notes li:nth-child(2) a,
#About li:nth-child(3) a {
    color: $highlight;
}

/* Content */

.content {
    padding: 20px;

    p {
        font-size: 1.2em;
        padding: 0 0 20px 0;
        margin: 0;
    }

    .profile {
        margin: 25px;
        width: 256px;
        border-radius: 2px;
        border: solid $highlight 2px;
        float: right;
    }
}

/* Blog */

.post {
    position: relative;
    list-style: none;
    padding: 0 0 10px 0;

    a {
        color: $foreground;

        &:hover {
            color: $highlight;
        }

        p {
            padding: 0;
            margin-bottom: -10px;
            font-size: 1.2rem;
        }
    }

    p {
        font-size: 1.2rem;
        padding: 0 0 0 1vh;
    }
    
    &::after {
        position: absolute;
        content: '';
        background-color: rgba(15, 15, 15, 0.15);
        border-radius: 2px;
        bottom: 0;
        width: 100%;
        height: 2px;
    }
}

.postTitle {
    font-size: 1.3em;

    .date {
        display: inline-block;
        font-size: 0.7em;
        color: lighten($foreground, 20%);
    }
}

/* Projects */

.projects {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;

    .entry {
        width: 100%;
        position: relative;
        margin-bottom: 1.2rem;
        display: flex;
        text-align: center;
        transition: all 0.25s ease;

        a:first-child {
            flex: 1;
            color: #282828;
            font-size: 1.3rem;
            text-align: left;
            &:hover {
                color: $highlight;
            }
        }

        p {
            float: right;
            margin-bottom: $spacer;
            padding: 0.2rem 1rem 0.2rem 1rem;
            text-align: center;
            border-radius: 2px;
        }

        .Front-end {
            line-height: 1;
            font-weight: bold;
            color: $background;
            background-color: #43A047;
        }

        .Full-stack {
            line-height: 1;
            font-weight: bold;
            color: $background;
            background-color: #e53935;
        }

        &::after {
            position: absolute;
            content: '';
            background-color: rgba(15, 15, 15, 0.15);
            border-radius: 2px;
            bottom: 0;
            width: 100%;
            height: 2px;

        }
    }
}

/* Burger Nav */

#menu {
    display: none;
}

#menu:checked + label .mobile-nav {
    height: 100%;
    nav {
        bottom: 0;
        height: 15vh;
    }
}

#menu:checked + label .burger {
    bottom: -64px;
}

.mobile-nav {
    z-index: 1000;
    width: 100%;
    height: 0;
    position: fixed;

    nav {
        display: block;
        transition: all 0.25s ease;
        width: 100%;
        height: 0;
        background-color: $foreground;
        position: fixed;
        bottom: -64px;
        left: 0;
    }

    .mobile {
        float: left;
        flex-direction: row;
        width: 100%;
        display: flex;
        align-items: center;

        li {
            float: left;
        }

        li a {
            font-size: 1.4rem;
            color: $background;
        }
    }
}

.burger {
    display: none;
    z-index: 1000;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: fixed;

    right: 0;
    bottom: 0;
    margin: 16px;
    background-color: $highlight;

    justify-content: center;
    align-items: center;

    transition: all 0.25s ease;

    box-shadow: 0 3px 6px rgba(0,0,0, 0.16), 0 3px 6px rgba(0,0,0, 0.23);
    p {
        height: 100%;
        margin: 0;
        font-size: 2rem;
    }

    .left-bracket {
        position: absolute;
        height: 32px;
        left: 18px;
        div:nth-child(1){
            float: left;
            height: 32px;
            width: 3px;
            background-color: $foreground;
        }
        div:nth-child(2){
            height: 3px;
            width: 10px;
            background-color: $foreground;
        }
        div:nth-child(3){
            position: absolute;
            height: 3px;
            width: 10px;
            background-color: $foreground;
            bottom: 0;
        }
    }

    .right-bracket {
        position: absolute;
        height: 32px;
        right: 18px;
        div:nth-child(1){
            float: right;
            height: 32px;
            width: 3px;
            background-color: $foreground;
        }
        div:nth-child(2){
            height: 3px;
            width: 10px;
            background-color: $foreground;
        }
        div:nth-child(3){
            float: left;
            position: absolute;
            height: 3px;
            width: 10px;
            background-color: $foreground;
            bottom: 0;
        }
    }
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    p {
        color: $foreground;
        margin: 0.5rem;
        opacity: 0.5;
        transition: all 0.25s ease;

        &:hover {
            opacity: 1;
        }
    }
}

/* Icons */

.icon-large {
    height: 32px;
    opacity: 0.7;
    transition: all 0.25s ease;

    &:hover {
        opacity: 1;
    }
}

.icon-small {
    width: 12px;
    transition: all 0.25s ease;

    &:hover {
        opacity: 1;
    }
}

/* Small screen */

@media screen and (max-width: 1300px) {
    .content-wrapper {
        max-width: 70%;
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .content-wrapper {
        max-width: 100%;
        width: 100%;
    }

    header .title h1 {
        font-size: 2.5rem;
    }

    .navigation {
        display: none;
    }

    .burger {
        display: flex;
    }

    .mobile {
        display: block;
    }
}

@media screen and (max-width: 550px) {
    .content .profile {
        float: none;
        display: flex;
        margin: 20px auto;
    }
}